html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
figure,
blockquote,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
select,
button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: 0;
  font: inherit;
}

label {
  display: block;
}

::-moz-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #191A23;
  --color-dark-alt: #292A32;
  --color-gray: #F3F3F3;
  --color-gray-alt: #898989;
  --color-light: #FFFFFF;
  --color-accent: #B9FF66;
  --shadow: 0px 5px 0px 0px var(--color-dark);
  --border: 1px solid var(--color-dark);
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --font-family-base: "Space Grotesk", sans-serif;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 30px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(43px, 4.1666666667vw, 60px);
}

h2 {
  font-size: clamp(36px, 2.7777777778vw, 40px);
}

h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4 {
  font-size: clamp(18px, 1.3888888889vw, 20px);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius);
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }
}
.button--transparent {
  color: var(--color-dark);
  background-color: transparent;
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;
}
@media (max-width: 767px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
}
.burger-button:after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 20px;
  box-shadow: 0 -8px, 0 8px;
}

.header {
  padding-top: 60px;
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__inner {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    max-width: 120px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    max-width: 144px;
  }
}
.header__menu {
  margin-left: auto;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .header__menu {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__menu {
    font-size: 16px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 15px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover:after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active:after {
    width: 100%;
  }
}
.header__menu-link:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}
@media (max-width: 1280px) {
  .header__button {
    font-size: 18px;
  }
}
@media (max-width: 1023px) {
  .header__button {
    height: 48px;
    padding-inline: 18px;
    font-size: 16px;
  }
}
.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button:before, .cross-button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--color-dark);
}
.cross-button:before {
  rotate: 45deg;
}
.cross-button:after {
  rotate: -45deg;
}

.mobile-overlay {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 15px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-height: 100%;
  max-width: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  font-size: 32px;
}
.mobile-overlay__item {
  width: 100%;
}
.mobile-overlay__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100%;
}
@media (hover: hover) {
  .mobile-overlay__link:hover {
    background-color: var(--color-gray);
  }
}
@media (hover: none) {
  .mobile-overlay__link:active {
    background-color: var(--color-gray);
  }
}

.section {
  padding-block: var(--section-padding-y);
}
.section--hidden-x {
  overflow-x: hidden;
}
.section__header {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 767px) {
  .section__header {
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
  }
}
.section__header:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .section__header:not(:last-child) {
    margin-bottom: 40px;
  }
}
.section__description {
  max-width: 580px;
}
.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
}
@media (max-width: 1280px) {
  .hero {
    row-gap: 60px;
  }
}
.hero__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 767px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 531px;
  row-gap: 35px;
}
@media (max-width: 767px) {
  .hero__body {
    display: contents;
  }
}
@media (max-width: 767px) {
  .hero__title {
    order: -2;
    margin-bottom: 10px;
  }
}
.hero__description {
  font-size: 20px;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .hero__description {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .hero__button {
    width: 100%;
    max-width: 390px;
    margin-inline: auto;
  }
}
@media (max-width: 1023px) {
  .hero__img {
    max-width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero__img {
    order: -1;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding-inline: 15px;
  }
}
.hero__partners-list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 37px;
       column-gap: 37px;
}
@media (max-width: 1023px) {
  .hero__partners-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
  }
}
@media (max-width: 480px) {
  .hero__partners-list {
    --heroPartnersWidthOffsetX: 60px;
    -moz-column-gap: 0;
         column-gap: 0;
    width: calc(100vw + var(--heroPartnersWidthOffsetX) * 2);
    margin-left: calc((var(--heroPartnersWidthOffsetX) + var(--container-padding-x)) * -1);
    animation: slide 10s infinite ease-in-out alternate;
  }
}
@keyframes slide {
  0% {
    margin-left: -160px;
  }
  100% {
    margin-left: 0;
  }
}
@media (max-width: 1023px) {
  .hero__partners-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .hero__partners-item {
    justify-content: flex-start;
  }
  .hero__partners-item:nth-child(-n+3) {
    justify-content: flex-end;
  }
}
.hero__partners-image {
  filter: grayscale(1);
}

.puddle-bg {
  padding-inline: 7px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-small);
}
.puddle-bg--light {
  background-color: var(--color-light);
}

.services__list:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .services__list:not(:last-child) {
    margin-bottom: 70px;
  }
}
.service-card {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-height: 310px;
  padding: 50px;
  margin-inline: auto;
  background-color: var(--color-gray);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  max-width: 600px;
}
@media (max-width: 767px) {
  .service-card {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 27px;
  }
}
@media (max-width: 480px) {
  .service-card {
    padding: 30px;
  }
}
.service-card--accent-bg {
  background-color: var(--color-accent);
}
.service-card--dark-bg {
  background-color: var(--color-dark);
}
.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 767px) {
  .service-card__body {
    display: contents;
  }
}
.service-card__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .service-card__title {
    grid-column: -1/1;
  }
}
.service-card__link {
  --serviceCardLinkIconColor: var(--color-accent);
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 20px;
}
@media (hover: hover) {
  .service-card__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .service-card__link:active {
    opacity: 0.7;
  }
}
@media (max-width: 767px) {
  .service-card__link {
    align-self: flex-end;
  }
}
.service-card__link--light {
  --serviceCardLinkIconColor: var(--color-dark);
  color: var(--color-light);
}
.service-card__link-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.service-card__link-icon-wrapper svg {
  color: var(--serviceCardLinkIconColor);
}
@media (max-width: 767px) {
  .service-card__link-label {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
            clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.service-card__image {
  align-self: center;
}
@media (max-width: 1280px) {
  .service-card__image {
    max-width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .service-card__image {
    max-width: 165px;
  }
}
@media (max-width: 480px) {
  .service-card__image {
    max-width: 140px;
  }
}

.banner {
  --bannerImageOffsetY: 24px;
  padding-block: var(--bannerImageOffsetY);
}
@media (max-width: 1023px) {
  .banner {
    --bannerImageOffsetY: 0;
  }
}
.banner__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius-large);
}
.banner__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 26px;
  padding: 60px;
}
@media (max-width: 1023px) {
  .banner__body {
    padding: 50px;
  }
}
@media (max-width: 767px) {
  .banner__body {
    row-gap: 20px;
  }
}
@media (max-width: 480px) {
  .banner__body {
    padding: 30px;
  }
}
.banner__description {
  max-width: 500px;
}
.banner__image {
  margin-block: calc(var(--bannerImageOffsetY) * -1);
}
@media (max-width: 1023px) {
  .banner__image {
    max-width: 40%;
    height: auto;
  }
}

@media (min-width: 1281px) {
  .studies {
    padding: 70px 60px;
  }
}
@media (min-width: 768px) {
  .studies {
    padding: 50px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
  }
}
.studies__list {
  display: grid;
  grid-template-columns: 1fr 1.28fr 1fr;
}
@media (max-width: 767px) {
  .studies__list {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    width: 100vw;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.studies__item {
  --studiesItemPaddingX: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 1280px) {
  .studies__item {
    --studiesItemPaddingX: 32px;
  }
}
@media (min-width: 768px) {
  .studies__item:not(:first-child) {
    padding-left: var(--studiesItemPaddingX);
  }
  .studies__item:not(:last-child) {
    padding-right: var(--studiesItemPaddingX);
    border-right: 1px solid var(--color-light);
  }
}
@media (max-width: 767px) {
  .studies__item {
    min-width: 350px;
    padding: 42px 50px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
    scroll-snap-align: start;
  }
}
.studies__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-accent);
}
@media (hover: hover) {
  .studies__link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .studies__link:active {
    opacity: 0.7;
  }
}